/*
COLOR GLOSSARY:

melancholy-midnight: #011638
chilling-charcoal: #364156
classy-clay: #77979b
synergistic-cyan: #dff8eb
ghostly-gray: #cdcdcd

----- OLD COLORS ------
brainy-blue: #2695E1
graphical-gray: #646260
sinister-slate: #414039
-----------------------

=================================================

FONT GLOSSARY:
prefix: https://fonts.googleapis.com/css?family=

Titillium Web: https://fonts.google.com/specimen/Titillium+Web?selection.family=Titillium+Web
Martel: https://fonts.google.com/specimen/Martel

*/

.columns {
    width: 50vw;
    height: 50vw;
    margin: 100px auto;
}

.row {
    width: 100%;
    height: 50%;
    
    display: flex;
    position: relative;
}

.columns img {
    width: 40vw;
    height: auto;
    padding: 5px;
    position: absolute;
}

@media (min-width: 450px) {
    .columns {
        margin: -20px auto;
    }

    .columns img {
        width: 40%;
        opacity: .8;
        transition: 
            opacity .2s linear, 
            left .2s linear, 
            right .2s linear,
            top .2s linear,
            bottom .2s linear;
    }
}

#top img {
    bottom: 0;
}

#bottom img {
    top: 0;
}

.left {
    right: 50%;
}

.right {
    left: 50%;
}

#top .left:hover {
    opacity: 1;
    right: 55%;
    bottom: 10%;
}

#top .right:hover {
    opacity: 1;
    left: 55%;
    bottom: 10%;
}

#bottom .left:hover {
    opacity: 1;
    right: 55%;
    top: 10%;
}

#bottom .right:hover {
    opacity: 1;
    left: 55%;
    top: 10%;
}
