/*
COLOR GLOSSARY:

melancholy-midnight: #011638
chilling-charcoal: #364156
classy-clay: #77979b
synergistic-cyan: #dff8eb
ghostly-gray: #cdcdcd

----- OLD COLORS ------
brainy-blue: #2695E1
graphical-gray: #646260
sinister-slate: #414039
-----------------------

=================================================

FONT GLOSSARY:
prefix: https://fonts.googleapis.com/css?family=

Titillium Web: https://fonts.google.com/specimen/Titillium+Web?selection.family=Titillium+Web
Martel: https://fonts.google.com/specimen/Martel

*/

div.statement {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 450px) {
    div.statement {
        width: 60vw;
        flex-direction: row;
    }
}

div.statement div {
    background: #9db4c0; /* chilling-charcoal */
    padding: 15px;
    margin: 0 15px;
    flex-grow: 1;
}

@media (min-width: 450px) {
    div.statement div {
        width: 30%;
        border: 2px solid #424b54; /* melancholy-midnight */
    }

    .who-we-are {
        position: relative;
        left: 0;
        margin: 0 auto;
    }
    
    .our-mission {
        position: relative;
        right: 0;
        margin: 0 auto;
    }
}

div.statement h1 {
    color: #dcdcdd; /* ghostly-gray */
    text-align: center;
    font-family: "Martel", serif;
    margin: 10px 0;
}

div.statement p {
    color: #dcdcdd; /* ghostly-gray */
    text-align: justify;
    font-family: "Titillium Web", sans-serif;
}

div.statement img {
    width: 100%;
    height: auto;
}
