/*
COLOR GLOSSARY:

melancholy-midnight: #011638
chilling-charcoal: #364156
classy-clay: #77979b
synergistic-cyan: #dff8eb
ghostly-gray: #cdcdcd

----- OLD COLORS ------
brainy-blue: #2695E1
graphical-gray: #646260
sinister-slate: #414039
-----------------------

=================================================

FONT GLOSSARY:
prefix: https://fonts.googleapis.com/css?family=

Titillium Web: https://fonts.google.com/specimen/Titillium+Web?selection.family=Titillium+Web
Martel: https://fonts.google.com/specimen/Martel

*/

* {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

@media (min-width: 450px) {
    .triangle {
        position: fixed;
        width: 0;
        height: 0;
        border-style: solid;
    }

    #left {
        left: 0;
        top: 0;

        border-width: 120vh 20vw 0 0;
        border-color: #364156 transparent transparent transparent; /* chilling-charcoal */
    }

    #right-bottom {
        right: 0;
        bottom: 0;

        border-width: 0 0 120vh 20vw;
        border-color: transparent transparent #cdcdcd transparent; /* ghostly-gray */
    }

    #right-top {
        right: 0;
        bottom: 0;

        border-width: 0 0 110vh 18vw;
        border-color: transparent transparent #364156 transparent; /* chilling-charcoal */
    }
}

p {
    color: #cdcdcd; /* ghostly-gray */
}

html, body {
    width: 100%;
    margin: 0;
    background: #011638; /* melancholy-midnight */
}

img {
    margin-bottom: 0;
    width: 300px;
    height: 245px;
}

div.links {
    display: flex;
    justify-content: center;
    margin: 0 auto 30px auto;
}

div.links p:not(.selected) {
    display: none;
}

@media (min-width: 450px) {
    div.links {
        width: 570px;
        justify-content: space-evenly;
        flex-direction: row;
    }

    p:not(.selected) {
        display: unset;
    }

    div.links * {
        padding: 0 5px;
    }
}

div.links * {
    padding: 0 15px;
}

div.links p {
    margin: 0;
    font-weight: bolder;
    color: #cdcdcd; /* ghostly-gray */
}

div.links p.selected {
    color: #dff8eb; /* synergistic-cyan */
}

div.links a {
    color: #cdcdcd; /* ghostly-gray */
    text-decoration: none;
    border-bottom: 1px solid #011638; /* melancholy-midnight */;
}

div.links a:hover {
    border-bottom-color: #dff8eb; /* synergistic-cyan */
    color: #dff8eb; /* synergistic-cyan */

    transition: border .1s linear, color .1s linear;
}
