/*
COLOR GLOSSARY:

melancholy-midnight: #011638
chilling-charcoal: #364156
classy-clay: #77979b
synergistic-cyan: #dff8eb
ghostly-gray: #cdcdcd

----- OLD COLORS ------
brainy-blue: #2695E1
graphical-gray: #646260
sinister-slate: #414039
-----------------------

=================================================

FONT GLOSSARY:
prefix: https://fonts.googleapis.com/css?family=

Titillium Web: https://fonts.google.com/specimen/Titillium+Web?selection.family=Titillium+Web

*/

* {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

p {
    color: #cdcdcd; /* ghostly-gray */
}

html, body {
    background: #011638; /* melancholy-midnight */
}

img {
    margin: 0;
    width: 300px;
    height: 245px;
}

div.links {
    width: 570px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

div.links * {
    padding: 0 5px;
}

div.links p {
    margin: 0;
    font-weight: bolder;
    color: #cdcdcd; /* ghostly-gray */
}

div.links p.selected {
    color: #dff8eb; /* synergistic-cyan */
}

div.links a {
    color: #cdcdcd; /* ghostly-gray */
    text-decoration: none;
    border-bottom: 1px solid #011638; /* melancholy-midnight */;
}

div.links a:hover {
    border-bottom-color: #dff8eb; /* synergistic-cyan */
    color: #dff8eb; /* synergistic-cyan */

    transition: border .1s linear, color .1s linear;
}
