/* COLOR GLOSSARY */

$synergistic-cyan: #7daaaf;
$aesthetic-aegean: #4e6386;
$cucumber-water: #f4fff3;
$magnetic-mint: #dff8eb;
$gritty-graphite: #3d4042;
$grisly-gray: #66797d;

/* FONT GLOSSARY */

$titillium-web: 'Titillium Web', sans-serif;
$martel: 'Martel', serif;
