---
---
@import 'resources';

.wrapper {
  width: 60vw;
  margin: 10px auto;

  * {
    text-align: justify;
    color: $cucumber-water;
  }

  h1, h2, h3, h4 {
    font-family: $martel;
    color: $magnetic-mint;
  }

  h1, .authors {
    text-align: center;
  }
}

p {
  font-family: $titillium-web;
}

.triangle {
  display: none;
}