---
---
@import 'resources';

.columns {
  width: 50vw;
  height: 50vw;
  margin: 100px auto;

  img {
    width: 40vw;
    height: auto;
    padding: 5px;
    position: absolute;
  }

  @media (min-width: 450px) {
    margin: -20px auto;

    img {
      width: 40%;
      opacity: .8;
      transition: 
        opacity .2s linear, 
        left .2s linear, 
        right .2s linear,
        top .2s linear,
        bottom .2s linear;
    }
  }
}

.row {
  width: 100%;
  height: 50%;
  
  display: flex;
  position: relative;
}

#top img {
  bottom: 0;
}

#bottom img {
  top: 0;
}

.left {
  right: 50%;
}

.right {
  left: 50%;
}

#top .left:hover {
  opacity: 1;
  right: 55%;
  bottom: 10%;
}

#top .right:hover {
  opacity: 1;
  left: 55%;
  bottom: 10%;
}

#bottom .left:hover {
  opacity: 1;
  right: 55%;
  top: 10%;
}

#bottom .right:hover {
  opacity: 1;
  left: 55%;
  top: 10%;
}
