---
---
@import 'resources';

.columns {
  width: 50vw;
  height: 50vw;
  margin: 100px auto;

  h1 {
    margin: 0;
    display: inline;
    color: $magnetic-mint;
    letter-spacing: 1px;
  }

  img {
    width: 60px;
  }

  a {
    text-decoration: unset;
  }

  .panel {
    background: $aesthetic-aegean;
    border: 5px solid $synergistic-cyan;

    .wide {
      display: none;
    }

    .small {
      width: 40vw;
      height: 40vw;
      padding: 5px;
      position: absolute;
    }
  }

  .pair {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  @media (min-width: 450px) {
    margin: -20px auto;

    .small {
      display: none;
    }

    .wide {
      width: 40%;
      height: 75%;
      opacity: .8;
      transition: 
        opacity .2s linear, 
        left .2s linear, 
        right .2s linear,
        top .2s linear,
        bottom .2s linear;
    }

    .pair {
      flex-direction: row;
    }
  }
}

.row {
  width: 100%;
  height: 50%;
  
  display: flex;
  position: relative;
}

#top .wide {
  bottom: 0;
}

#bottom .wide {
  top: 0;
}

.left {
  right: 50%;
}

.right {
  left: 50%;
}

#top .left:hover {
  opacity: 1;
  right: 55%;
  bottom: 10%;
}

#top .right:hover {
  opacity: 1;
  left: 55%;
  bottom: 10%;
}

#bottom .left:hover {
  opacity: 1;
  right: 55%;
  top: 10%;
}

#bottom .right:hover {
  opacity: 1;
  left: 55%;
  top: 10%;
}
