---
layout: default
---

<link rel="stylesheet" type="text/css" href="/assets/divisions.css">

<div class="columns">
  <div class="row" id="top">
    <a href="software.html"><img src="/assets/images/software-panel.png" class="left" /></a>
    <a href="hardware.html"><img src="/assets/images/hardware-panel.png" class="right" /></a>
  </div>
  <div class="row" id="bottom">
    <a href="research.html"><img src="/assets/images/research-panel.png" class="left" /></a>
    <a href="outreach.html"><img src="/assets/images/outreach-panel.png" class="right" /></a>
  </div>
</div>
