---
layout: default
---

<link rel="stylesheet" type="text/css" href="/assets/index.css">

<div class="index">
  <div class="statement">
    <div class="who-we-are">
      <h1>Who We Are:</h1>
      <p> 
      An organization dedicated to fostering a community of people passionate about Neurotech.
      </p>
      <img src="assets/images/everitt.jpg" />
    </div>
    <div class="our-mission">
      <img src="assets/images/north-quad.jpeg" />
      <h1>Our Mission:</h1>
      <p>
      Our mission is to expose the field of Neurotech to everyone on campus. 
      We strive to provide resources, host events, and offer professional development for our members.
      </p>
    </div>
  </div>

  <div> <div class="contact">
    <h1>Contact Us:</h1>
    <p>Email: <a href="mailto:uiucneurotech@gmail.com">uiucneurotech@gmail.com</a></p>
    <p><a href="https://www.linkedin.com/company/uiucneurotechx/" rel="noopener noreferrer" target="_blank">LinkedIn</a></p>
    <p><a href="https://www.facebook.com/NeuroTech-at-UIUC-122584179135432/" rel="noopener noreferrer" target="_blank">Facebook</a></p>
    <p><a href="https://www.instagram.com/neurotech_uiuc/" rel="noopener noreferrer" target="_blank">Instagram</a></p>
  </div> </div>
</div>
