---
layout: default
---

<link rel="stylesheet" type="text/css" href="/assets/index.css">

<div class="index">
  <div class="statement">
    <div class="who-we-are">
      <h1>Who We Are:</h1>
      <p> 
      An organization dedicated to fostering a community of people passionate about Neurotech.
      Founded on the pillars of Community, Education, and Professional Development.
      </p>
      <img src="assets/images/everitt.jpg" />
    </div>
    <div class="our-mission">
      <img src="assets/images/north-quad.jpeg" />
      <h1>Our Mission:</h1>
      <p>
      Work in progress.
        </p>
    </div>
  </div>
</div>
